.App {
  background-color: #121212;
  color: white;
  height: 100vh;
}

.profile-section {
  margin-top: 20px;
}

.profile-card {
  padding: 20px;
  width: 30%;
}

.tournaments-container {
  margin-top: 30px;
}

.card {
  background-color: #2b2b2b;
  border: none;
}

.card-title {
  color: #fff;
}

.btn-success {
  background-color: #28a745;
  border-color: #28a745;
}

.btn-outline-light {
  border-color: #fff;
  color: #fff;
}

.sidebar {
  padding: 20px;
  height: 100%;
}

.sidebar .list-group-item {
  border: none;
  padding: 15px;
}

.navbar {
  background-color: #000;
  padding: 10px 20px;
}

.navbar-brand {
  color: #fff;
}

.navbar-icons {
  display: flex;
  align-items: center;
}
input::placeholder {
  color: rgb(255, 255, 255);
  opacity: 1; /* Ensures the color shows up clearly */
}

input:focus::placeholder {
  color: lightgray; /* Keeps the placeholder color the same when the input is focused */
}
.icon-circle {
  width: 30px; /* Adjust size as needed */
  height: 30px; /* Ensure it's a circle */
  border-radius: 50%; /* Make the image circular */
  background-color: #1c1c1c; /* Optional: Background color for the circle */
  padding: 5px; /* Optional: Space between the icon and border */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* Optional: Shadow for better visibility */
}
/* Add this to your CSS file */
.list-group-item:hover {
  background-color: lightgray; /* Change to your desired light gray color */
}
